#map { height: 500px; }
.cluster: {
    padding: 10px;
    background: red;
}
.leaflet-popup-tip-container {
    margin: -1px auto;
}

.content-full-width {
	width: 914px;
	padding: 0 40px;
	overflow: hidden;
}

#map-container {
	visibility: hidden;
	height: 0;
}

.loading-map {
	text-align: center;
}

.btn-md {
	height: 34px;
}

.btn .caret {
	margin-left: 6px;
}

.dropdown-menu li {
	cursor: pointer;
}

.content-full-width h1 {
	font-family: "alternate-gothic-no-2-d",sans-serif;
	text-transform: uppercase;
	color: #4d493b;
	font-weight: 400;
	font-size: 4em;
	margin: 0 0 20px;
	letter-spacing: -0.02em;
}

.ng-table {
    border: 1px solid #ccc;
}

table td {
	min-width: 110px;
}

/* fixes for nccor.org elements broken by bootstrap */
input.q {
	line-height: normal;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.bootstrap * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.go {
	font-size: 13px;
	line-height: normal;
}

a.hide-text:hover {
	font-size: 0px\9;
	color: rgba(0, 0, 0, 0);
}

