#map { 
	height: 500px; 
}

.cluster: {
    padding: 10px;
    background: red;
}

.leaflet-popup-tip-container {
    margin: -1px auto;
}

.content-full-width {
	width: 914px;
	padding: 0 40px;
	overflow: hidden;
}

#map-container {
	visibility: hidden;
	height: 0;
	font-size: 1.3em;
}

.loading-map {
	text-align: center;
}

.btn-md {
	height: 34px;
}

.btn .caret {
	margin-left: 6px;
}

.dropdown-menu li {
	cursor: pointer;
}

.dropdown-multiselect {
	width: 100%;
}

.dropdown-multiselect button {
	width: 100%;
}

.reset-container, .search-container {
	margin-top: 1em;
}

.content-full-width h1 {
	font-family: "alternate-gothic-no-2-d",sans-serif;
	text-transform: uppercase;
	color: #4d493b;
	font-weight: 400;
	font-size: 4em;
	margin: 0 0 20px;
	letter-spacing: -0.02em;
}

.tr-ng-grid .tr-ng-sort .tr-ng-sort-active, .tr-ng-grid .tr-ng-sort .tr-ng-sort-inactive {
	top: 14px;
}

.tr-ng-grid .tr-ng-column-header .tr-ng-title {
	padding-right: 1em;
}

.tr-ng-grid thead {
	background: #eee;
}

.tr-ng-grid td[field-name="title"] {
	background: #E7F4FF;
}

.table-hover>tbody>tr:hover>td {
	background-color: #E7F4FF;
}

.table-hover>tbody>tr:hover>td[field-name="title"] {
	background-color: #E0ECF8;
}

.scroll-link-container {
	margin-top: 10px;
	color: #777;
	font-weight: bold;
}

.scroll-link {
	cursor: pointer;
}

.marker-cluster-small div {
	background-color: rgba(59, 133, 17, 0.71);
}

.marker-cluster span {
	color: white;
	font-weight: bold;
}

.marker-cluster-small {
	background-color: rgba(153, 187, 122, 0.81);
}

.marker-cluster-medium div {
	background-color: rgba(177, 141, 0, 0.8);
}

.marker-cluster-medium {
	background-color: rgba(204, 166, 9, 0.6);
}

.marker-cluster div {
	width: 34px;
	height: 34px;
	margin-left: 3px;
	margin-top: 3px;
	border-radius: 17px;
}

.marker-cluster span {
	line-height: 34px;
}

/* fixes for nccor.org elements broken by bootstrap */
input.q {
	line-height: normal;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.bootstrap * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.go {
	font-size: 13px;
	line-height: normal;
}

a.hide-text:hover {
	font-size: 0px\9;
	color: rgba(0, 0, 0, 0);
}