#map { 
	height: 500px; 
}

.cluster: {
    padding: 10px;
    background: red;
}

.leaflet-popup-tip-container {
    margin: -1px auto;
}

#map-container {
	visibility: hidden;
	height: 0;
	font-size: 1.3em;
}

.dropdown-menu {
	z-index: 1500;
}

.filter-container, .reset-container, .search-container {
	margin-top: 10px;
}

.active-filters li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	padding: 3px 5px;
	border: solid 1px #357ebd;
	background: #428bca;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 10px
}

.active-filters {
	display: inline;
	padding-left: 0;
}

.loading-map {
	text-align: center;
}

.btn-md {
	height: 34px;
}

.btn .caret {
	margin-left: 6px;
}

.btn-primary {
	background-color: #178faf;
	border-color: #1C7B94;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
background-color: #1C7B94;
border-color: #1A6376;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #178faf;
	border-color: #1C7B94;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #178faf;
}

.pagination>li>a, .pagination>li>span {
	color: #178faf;
}

.ui-widget-header {
	background: #178faf;
}

.dropdown-menu li {
	cursor: pointer;
}

.dropdown-multiselect {
	width: 100%;
}

.dropdown-multiselect button {
	width: 100%;
}

.reset-container, .search-container {
	margin-top: 1em;
}

.tr-ng-grid .tr-ng-sort .tr-ng-sort-active, .tr-ng-grid .tr-ng-sort .tr-ng-sort-inactive {
	top: 14px;
}

.tr-ng-grid .tr-ng-column-header .tr-ng-title {
	padding-right: 1em;
}

.tr-ng-grid thead {
	background: #eee;
}

.tr-ng-grid td[field-name="title"] {
	background: #E7F4FF;
}

.table-hover>tbody>tr:hover>td {
	background-color: #E7F4FF;
}

.table-hover>tbody>tr:hover>td[field-name="title"] {
	background-color: #E0ECF8;
}

.scroll-link-container {
	margin-top: 10px;
	color: #777;
	font-weight: bold;
}

.scroll-link {
	cursor: pointer;
}

.marker-cluster-small div {
	background-color: rgba(59, 133, 17, 0.71);
}

.marker-cluster span {
	color: white;
	font-weight: bold;
}

.marker-cluster-small {
	background-color: rgba(153, 187, 122, 0.81);
}

.marker-cluster-medium div {
	background-color: rgba(59, 133, 17, 0.71);
}

.marker-cluster-medium {
	background-color: rgba(153, 187, 122, 0.81);
}

.marker-cluster div {
	width: 34px;
	height: 34px;
	margin-left: 3px;
	margin-top: 3px;
	border-radius: 17px;
}

.marker-cluster span {
	line-height: 34px;
}

.marker-cluster-medium {
	width: 50px !important;
	height: 50px !important;
	border-radius: 25px;
}

.marker-cluster-medium div {
	width: 44px;
	height: 44px;
	border-radius: 22px;
	margin-top: 3px;
	margin-left: 3px;
}

.marker-cluster-medium span {
	line-height: 44px;
	font-size: 1.2em;
}

/* fixes for nccor.org elements broken by bootstrap and full-width layout */
input.q {
	line-height: normal;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.bootstrap * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.go {
	font-size: 13px;
	line-height: normal;
}

a.hide-text:hover {
	font-size: 0px\9;
	color: rgba(0, 0, 0, 0);
}

.content-full-width {
	max-width: 914px;
	padding: 0 40px;
	overflow: hidden;
}

.content-full-width h1 {
	font-family: "alternate-gothic-no-2-d",sans-serif;
	text-transform: uppercase;
	color: #4d493b;
	font-weight: 400;
	font-size: 4em;
	margin: 0 0 20px;
	letter-spacing: -0.02em;
}

.content-full-width p, .text-ul li {
	font-size: 1.05em;
	line-height: 1.535em;
	margin: 0 0 15px 0;
	color: #333;
}

.text-ul {
	list-style: url(../../../images/content-right-bullet.gif);
	margin-left: 10px;
	padding-left: 5px;
}